.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #131921;

  height: 60px;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 21px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: white;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  background-color: white;
  height: 40px;
  margin-left: 10px;
}

.header__searchInput {
  flex: 1;
  border: none;
  padding: 10px;
}

#searchIcon {
  background-color: #febd69;
  color: #131921;
  padding: 18px;
  font-size: large;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  padding: 10px 20px; 
}


.header__searchInput {
  width: 500px !important;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

#cartIcon {
  margin-right: 5px;
  /* Media Queries */
}
@media (max-width: 600px) {
  .header {
    justify-content: space-between;
    padding: 10px 20px;
    height: auto;
  }
  
  .header__logo {
    width: 80px;
    margin: 0;
    margin-top: 7px;
  }
  
  .header__search {
    flex: 0.8;
    margin: 0;
  }
  
  .header__option{
    display: none;
  }
  .header__searchInput {
    /* font-size: 12px; */
    flex: 0.6; /* Adjust the flex value as per your requirement */
    width: auto !important; /* Remove the width property */
  }

  #searchIcon {
    background-color: #febd69;
    color: #131921;
    font-size: medium;
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 14px;
  }
  

  .header__option {
    margin-left: 5px;
    margin-right: 5px;
  }
}