.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #0F1111;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }
  .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
  }
  .header__searchInput {
    height: 18px;
    padding: 10px;
    border: none;
    width: 60%;
  }
  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #f7ca00;
  }
  .header_nav {
    display: flex;
    justify-content: space-evenly;
  }
  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  
  .header__optionLineOne {
    font-size: 10px;
  }
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
  }
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  

  /* custom */
  #searchIcon{
    background-color: #cf9935;
    padding: 5px;
    border-radius: 5px;
  }
  #cartIcon{
    margin-top: 5px;
  }
  #searchBar{
    outline-color: white;
    width: 630px;
    border-radius: 5px;
  }
  #searchBar:focus {
    outline-color: orange;
  }
  